body{
  background-color:#FFF;
  margin: 0;
  padding: 0;
}

.dotted-hr {
	border-style: none;
    width: 5%;
    border-top-style: dotted;
    border-width: 5px;
	border-color:#609;	
}

.page-title {
	margin: 0;
	color: #039;
	font-family:Trebuchet MS;
	text-align: center;
}

.title{
	text-align: center;
	font-family:Trebuchet MS;
	font-size: 35px;
	color:#006;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	color:#000;
	font-family: Bookman Old Style;
}

.p{
	margin: 0;
	color:#36f;
	font-family: Blackadder ITC;
}

p{
	font-family: Agency FB;
	color:#000;
	font-size: 20px;
	text-align: center;	
}

.ul{
	background-color: #BBD6F0;
    text-align: center;
	position: relative;
	filter:  brightness(1);
}

.bottom-container{
	text-align:center;
	background-color:lightgreen;
	margin:auto;
}

.contact-me{
	text-align:center;
	background-color:lightgreen;
	margin:auto;
}


.contact-me{
	text-align:center;
	font-size: 26px;
	background-color:lightgreen;
	margin:auto;
	
}

.footer{
	text-align:center;
	
}

.footer{
	background-color:lightgreen;
	margin:auto;
	text-align:center;
	
}


.fulfooter{
		background-color:lightgreen;
}

.mount{
	width: 100%;
	border: 100;
	border-color: #066964;
}

.pacman{
	background-color: #BBD6F0;
	border: 100;
	border-color: #BBD6F0;
}

.profile {
	    text-align: center;
    padding: 0%;}
	 	
.skills h2 {
	text-align: center;
	margin: 0;
}

.skill-img {
	width: 50%;
	text-align: center;
}

.footer-img {
	width: 4%;
	height: 4%;
}

.middle-container{
	background-color:lightgreen;
}

.footer-link {	
margin-right: 10px;
}

.footer-link {
margin-left: 10px;
}

.contact{
background-color:lightgreen;
}

.text-feild{
	position:absolute;
	color:#FFF;
	background-color:#339;
	width: 70px;
	height: 40px;
}

.skills{
	background-color:lightgreen;
}

#features{
	padding: 7% 15%
}

.features-box{
	text-align:center;
	padding: 5%;
	transition: background-color 2s;
}

.features-box:hover{
	 background-color:#8BBEE8FF;
	 border: solid white;
	 color: white;
}

.name1:hover{
	 text-transform: uppercase;
	 color: white;
}

h3 {
	font-family: "Montserrat-Bold";
}

